* {
    margin: 0%;
}

/* header design */

.background {
    background: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 800px;
    margin-left: 0;
}

.intro {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;



    color: #151414;
}

.sub-intro {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 600px;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    text-align: right;



    color: #444343;
}

.button {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 700px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

/* main design */
.person {
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

.failure {
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
    font-family: 'Work Sans';
    font-weight: 400;
}

.plans {
    position: absolute;
    width: 179px;
    height: 47px;
    left: 711px;
    top: 1792.3px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;


    color: #151414;

}

.list {
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 150px;
    top: 1900px;

}
.skill{
    display: flex;
    list-style: none;
    
   

}
nav li{
    margin-left: 100px;
}
nav li .comment{
    position: absolute;

left: 180px;


font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
text-align: center;

/* Dark 03 */

color: #737272;
}
.web{
    


font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;


color: #151414;
}
.time{
    position: absolute;
width: 1000px;
height: 300px;
left: 230px;
top: 2216.3px;

background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
border-radius: 8px;
background-image: url('../images/gradient2.png'), url('../images/watch.png');


left: 294px;
top: 2275.3px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 60px;


color: #fff;
}
.time .mindset{
    margin-left: 40px;
}
.time .watch{
    position: absolute;
width: 200px;
height: 70px;
border: none;
border-radius: 5px;



font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
margin-left: 40px;
margin-top: 20px;

color: #F15B22;
}
.background-footer{
    position: absolute;
width: 100%;
height: 300px;
left: 0;
top: 2646.3px;



background: #151414;

}
.background-footer .future{
    position: absolute;
width: 485px;
height: 317px;
left: 290px;
color: #fff;
margin-top: 30px;

}
.background-footer .foot{
    display: flex;
    list-style: none;
    margin-top: 190px;
    margin-left: 250px;
    
    position: absolute;
    
     
}
.background-footer .subscribe{
    position: absolute;
width: 325px;
height: 204px;
left: 1046px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;
margin-top: 30px;
}
.background-footer .btn-sub{
    position: absolute;
width: 150px;
height: 60px;
left: 1046px;
margin-top: 130px;


background: #FFFFFF;
border-radius: 8px;



font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;


color: #F15B22;
border: none;

}
